body {
    margin: 0px;
    background-color:antiquewhite;
}

.task {
    list-style: none;
    font-size: 1.5rem;
    background-color:rgb(252, 206, 150);
    height: 2rem;
    color: rgba(0, 0, 0, 0.685);
    padding-bottom: 0.2rem;
    margin-top: 10px;
    font-family: 'Lobster', cursive;
}

.input-box {
    font-family: 'Lobster', cursive;
    font-size: 1.2rem;
    height : 30%;
    width: 70%;
    /* by default inline block, changed to block */
    display: block;
    /* now its auto, we can change its margin */
    margin: 0 auto;
    margin-top: 2.2rem;
}

/* bring the text to centre */
.task-list {
    height: 20vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
}

.input-container {
    height: 20vh;
    border: 5px;
}

.main-container {
    color: white;
    font-family: 'Lobster', cursive;
    /* text align centre */
    text-align: center;
}

.action {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.685);
}